<section id="sponsors">
	<article>
		<div class="sponsors">
			<a href="#"><img src="<%= get_img_path() %>/patrocinadores/logo1.png " alt="" width="60"></a>
			<a href="#"><img src="<%= get_img_path() %>/patrocinadores/logo2.png " alt="" width="60"></a>
			<a href="#"><img src="<%= get_img_path() %>/patrocinadores/logo3.png " alt="" width="60"></a>
			<a href="#"><img src="<%= get_img_path() %>/patrocinadores/logo4.png " alt="" width="60"></a>
			<a href="#"><img src="<%= get_img_path() %>/patrocinadores/logo5.png " alt="" width="60"></a>
			<a href="#"><img src="<%= get_img_path() %>/patrocinadores/logo6.png " alt="" width="60"></a>
			<a href="#"><img src="<%= get_img_path() %>/patrocinadores/logo7.png " alt="" width="60"></a>
			<a href="#"><img src="<%= get_img_path() %>/patrocinadores/logo8.png " alt="" width="60"></a>
			<a href="#"><img src="<%= get_img_path() %>/patrocinadores/logo9.png " alt="" width="60"></a>
			<a href="#"><img src="<%= get_img_path() %>/patrocinadores/logo10.png " alt="" width="60"></a>
			<a href="#"><img src="<%= get_img_path() %>/patrocinadores/logoaso.png " alt="" width="60"></a>
			<a href="#"><img src="<%= get_img_path() %>/patrocinadores/plasmagoria.png " alt="" width="60"></a>

			<p>Si quieres hacer parte de este festial comuinicate con nosotros a : aliados@sancochofest.co</p>
		</div>
		<h2></h2>
	</article>
</section>
