<% content_for :head do %>
	<title>Sancocho Fest</title>
	<!-- Particular CSS -->
	<link rel="stylesheet" href="<%= get_css_path() %>/am-home.css">
<% end %>

<%= partial(:"partials/contact") %>
<%= partial(:"partials/sponsors") %>
<%= partial(:"partials/organizes") %>
<%= partial(:"partials/past") %>
<%= partial(:"partials/setlist") %>
<%= partial(:"partials/fest") %>
<%= partial(:"partials/welcome") %>
