<% content_for :head do %>
	<title>Sancocho Fest</title>
	<!-- Particular CSS -->
	<link rel="stylesheet" href="<%= get_css_path() %>/am-home.css">
<% end %>

<%= partial(:"partials/contacto") %>
<%= partial(:"partials/patrocionio") %>
<%= partial(:"partials/organiza") %>
<%= partial(:"partials/pasado") %>
<%= partial(:"partials/programa") %>
<%= partial(:"partials/fest") %>
<%= partial(:"partials/bienvenidos") %>